* {
     font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
     margin: 0;
}

ul {
     margin: 0;
     padding: 0;
     list-style: none;
}

a {
     text-decoration: none;
     color: inherit;
}

.header {
     display: flex;
     align-items: center;
     justify-content: center;
     position: sticky;
     top: 0;
     height: 80px;
     background-color: rgb(0, 0, 0);
}

.menu {
     display: flex;
     align-items: center;
}

.menu li {
     display: flex;
     padding: 0px 35px;
     color: rgb(255, 255, 255);
     font-weight: 450;
     font-size: 20px;
}

.list-button {
     position: relative;
}

.list-button::after {
     content: "";
     background: #9c27b0;
     height: 3px;
     width: 100%;
     border-radius: 6px;
     position: absolute;
     bottom: -8px;
     left: 0;
     transform: scaleX(0);
     transition: transform 300ms cubic-bezier(0.71, 0, 0.3, 0.99);
}

.list-button:hover::after {
     transform: scaleX(1);
}

.menu li:last-of-type a {
     display: flex;
     align-items: center;
     height: 40px;
     padding: 0 10px;
     background-color: #9c27b0;
     border-radius: 20px;
     transition: background-color 350ms cubic-bezier(0.71, 0, 0.3, 0.99), transform 350ms cubic-bezier(0.71, 0, 0.3, 0.99);

}

.menu li:last-of-type a:hover {
     transform: scale(1.1);
}

.search {
     display: flex;
     align-items: center;
     justify-content: center;
     width: 100%;
     border-radius: 10px;
     margin-top: 50px;
     position: relative;
}

.main {
     display: flex;
     flex-direction: column;
     align-items: center;
     background-color: rgb(43, 42, 43);
     height: 400vh;
}

.search input {
     width: 500px;
     height: 40px;
     border: 1px solid rgb(42, 41, 41);
     border-radius: 20px;
     padding: 0 50px 0 20px;
     font-size: 16px;
     outline: none;
     transition: border-color 0.3s;
}

.search input:focus {
     border-color: #9c27b0;
}

#search-button {
     position: absolute;
     right: calc(50% - 245px);
     background: none;
     border: none;
     cursor: pointer;
     padding: 5px;
     display: flex;
     align-items: center;
     justify-content: center;
     transition: transform 0.2s;
}

#search-button:hover {
     transform: scale(1.1);
}

#search-button:active {
     transform: scale(0.90);
}

#magnifying-glass {
     width: 24px;
     height: 24px;
     pointer-events: none;
     color: #333;
}